In [1]:
string = "11,22,33,44,22,33"

numbers = string.split(",")
print(numbers)

unice = []
for i in numbers:
    if numbers.count(i) == 1:
        unice.append(i)
print(unice)

['11', '22', '33', '44', '22', '33']
['11', '44']

In [2]:
string = "11,22,33,44,22,33"

numbers = string.split(",")
print(numbers)

unice = [ i for i in numbers if numbers.count(i) == 1 ]
print(unice)

['11', '22', '33', '44', '22', '33']
['11', '44']

In [3]:
string = "11,22,33,44,22,33"

numbers = string.split(",")
print(numbers)

unice = [ int(i) for i in numbers if numbers.count(i) == 1 ]
print(unice)

['11', '22', '33', '44', '22', '33']
[11, 44]

In [5]:
string = "11,22,33,44,22,33"

numbers = string.split(",")
print(numbers)

unice = [ int(i) for i in numbers if numbers.count(i) == 1 ]
print(unice)
print(sum(unice))

['11', '22', '33', '44', '22', '33']
[11, 44]
55

In [6]:
string = "11,22,33,44,22,33"
numbers = string.split(",")
print(sum([ int(i) for i in numbers if numbers.count(i) == 1 ]))

55