In [2]:
f1st_var = 'hello'
print(f1st_var)

hello

In [3]:
1st_var = 'hello'
print(1st_var)

SyntaxError: invalid decimal literal (2829372498.py, line 1)

In [5]:
passo = 'hello'
print(passo)

hello

In [6]:
PASS = 'hello'
print(PASS)

hello

In [10]:
true = "salutare"

has_greeted = true
print(has_greeted)

salutare

In [11]:
a = 30

In [13]:
# None este o valoare speciala - lipsa unei valori
x = None
print(x)

None

In [14]:
x = 7.2
print(type(x))

<class 'float'>

In [15]:
x = 7,2
print(type(x))

<class 'tuple'>

In [16]:
x = 7, 2
print(type(x))

<class 'tuple'>

In [19]:
x = (7, 2)
print(type(x))

<class 'tuple'>

In [20]:
v = 100

In [41]:
v += 5
print(v)

205

In [42]:
a = []
print(type(a))

<class 'list'>

In [43]:
a = [32, 32, 53, 545, 53]
print(type(a))

<class 'list'>

In [44]:
a = ["hello", True, 32.32, 56, [False, False]]
print(type(a))

<class 'list'>

In [45]:
a = ()
print(type(a))

<class 'tuple'>

In [46]:
a = {}
print(type(a))

<class 'dict'>

In [47]:
a = {2, 3, 4, 5}
print(type(a))

<class 'set'>

In [49]:
a = {2, 3, 4, 5, 5, 5, 3, 3, 5}
print(type(a), a)

<class 'set'> {2, 3, 4, 5}

In [51]:
a = [2, 3, 4, 5, 5, 5, 3, 3, 5]
print(type(a), a)
print("primul element:", a[0])

<class 'list'> [2, 3, 4, 5, 5, 5, 3, 3, 5]
primul element: 2

In [53]:
a = {2, 3, 4, 5, 5, 5, 3, 3, 5}
a = list(a)
print(type(a), a)
print("primul element:", a[0])

<class 'list'> [2, 3, 4, 5]
primul element: 2