In [1]:
import pandas as pd

In [3]:
filename = "de_transpus.csv"

In [5]:
df = pd.read_csv(filename)
df.head(3)

,PRUDENT001,PRUDENT001.1,Scutire de plata a primelor,Invaliditate permanenta din accident,Invaliditate permanenta din accident.1,Diagnosticare cu cancer si tratament,Diagnosticare cu cancer si tratament.1,Pierderea involuntara a locului de munca,Pierderea involuntara a locului de munca.1
0,Test Case,An,Prima Anuala,Suma Asigurata,Prima Anuala,Suma Asigurata,Prima Anuala,Suma Asigurata,Prima Anuala
1,PRUDENT001,1,111.48,75500.00,226.56,55500.00,311.76,2000.00,384.00
2,PRUDENT001,2,112.92,75500.00,226.56,55500.00,340.08,2000.00,384.00

In [7]:
df_transpus = df.T
df_transpus.head(3)

,0,1,2,3,4,5,6,7,8,9,10
PRUDENT001,Test Case,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001,PRUDENT001
PRUDENT001.1,An,1,2,3,4,5,6,7,8,9,10
Scutire de plata a primelor,Prima Anuala,111.48,112.92,113.28,113.76,114.24,114.72,115.92,116.52,117.24,117.96

In [8]:
df_transpus.to_csv("table_transpus.csv")

In [9]:
## Versiunea 2

In [10]:
import csv

In [12]:
with open(filename, "r") as file_reader:
    continut = file_reader.read()
    print(type(continut))

<class 'str'>

In [13]:
with open(filename, "r") as file_reader:
    csv_file_reader = csv.reader(file_reader)
    print(csv_file_reader)

<_csv.reader object at 0x17487dfc0>

In [15]:
with open(filename, "r") as file_reader:
    csv_file_reader = csv.reader(file_reader)
    continut = [ i  for i in csv_file_reader]
    print(type(continut))

<class 'list'>

In [16]:
len(continut)

12

In [17]:
len(continut[0])

9

In [19]:
lista_1 = ["Rosu", "Negru", "Verde"]
lista_2 = ["Sange", "Costum", "Iarba"]

list(zip(lista_1, lista_2))

[('Rosu', 'Sange'), ('Negru', 'Costum'), ('Verde', 'Iarba')]

In [20]:
lista_1 = ["Rosu", "Negru", "Verde"]
lista_2 = ["Sange", "Costum", "Iarba"]
lista_3 = range(3)

list(zip(lista_1, lista_2, lista_3))

[('Rosu', 'Sange', 0), ('Negru', 'Costum', 1), ('Verde', 'Iarba', 2)]

In [24]:
continut_transpus = list(zip(*continut))

In [25]:
len(continut_transpus)

9

In [26]:
len(continut_transpus[0])

12

In [27]:
with open("continut_transpus.csv", "w") as file_writer:
    csv_file_writer = csv.writer(file_writer)
    csv_file_writer.writerows(continut_transpus)